#createIssue {
    left: 83%;
}

.fixed-action-btn {
    bottom: 76px;
    right: 9px;
}

td {
    font-size: 15px;
}

td,
th {
    padding: 6px 15px;
}

.validate {
    /*color: #FF5A04;*/
}

.dropdown-content select-dropdown {
    color: #FF5A04;
}

.btn waves-effect waves-light {
    color: #FF5A04;
    background-color: #FF5A04;
}
