    td {
        font-size: 12px;
    }

    h2 {
        font-size: 17px;
        color: #FF5A04;
    }

    body {
        overflow-x: hidden;
    }

    #created_by {
        display: none;
    }

    #label_created_by {
        display: none;
    }

    #date_modified {
        display: none;
    }

    #label_date_modified {
        display: none;
    }


    #updateAnnouncement {
        display: none;
        background-color: #FF5A04;
        left: 83;
    }

    #status {
        color: #FF5A04;
    }

    .CodeMirror {
        height: 100px;
    }

    #createIssue {
        background-color: #FF5A04;
    }
    /*    .validate {
          background-color: #FF5A04;
    }*/

    .materialize-textarea {
        /* background-color: #FF5A04; */
    }
    /* label focus color */

    .input-field input[type=text]:focus + label {
        color: #FF5A04;
    }
    /* label underline focus color */

    .input-field input[type=text]:focus {
        border-bottom: 1px solid #FF5A04;
        box-shadow: 0 1px 0 0 #FF5A04;
    }

    .input-field input[type=text].valid {
        border-bottom: 1px solid #FF5A04;
        box-shadow: 0 1px 0 0 #FF5A04;
    }

    .input-field textarea.materialize-textarea:focus {
        border-bottom: 1px solid #FF5A04;
        box-shadow: 0 1px 0 0 #FF5A04;
    }

    .input-field textarea.materialize-textarea.valid {
        border-bottom: 1px solid #FF5A04;
        box-shadow: 0 1px 0 0 #FF5A04;
    }

    .input-field textarea.materialize-textarea:focus + label {
        color: #FF5A04;
    }
    /* invalid color */

    .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    .input-field textarea.materialize-textarea.invalid {
        top: 30px;
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    label [data-error]:after {
        white-space: nowrap;
    }
